<h1>New calendar</h1>

<% form_for(@calendar) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :minute %><br />
    <%= f.text_field :minute %>
  </p>
  <p>
    <%= f.label :hour %><br />
    <%= f.text_field :hour %>
  </p>
  <p>
    <%= f.label :day_of_week %><br />
    <%= f.text_field :day_of_week %>
  </p>
  <p>
    <%= f.label :unixtimestamp %><br />
    <%= f.text_field :unixtimestamp %>
  </p>
  <p>
    <%= f.label :event_id %><br />
	<%= collection_select :calendar, :event_id,
	   Event.find(:all), :id, :title, {}, 
	   :multiple => false %>
  </p>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', calendars_path %>